@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

@font-face {
  font-family: "breathing";
  src: url("./assets/fonts/Breathing\ copy.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --offWhite: #f2f4f1;
  --navyBlue: #839ca3;
  --babyPink: #e8bfc5;
  --darkGrey: #272528;
}

/* HERO */
.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0, 0.2);
  object-fit: contain;
}

.hello {
  font-family: "breathing";
  text-transform: capitalize;
}

.hero-container > h1 {
  color: white;
  font-size: 50px;
  margin-top: 15vh;
  text-transform: uppercase;
}

.hero-container > p {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  position: fixed;
  z-index: -1;
  height: 90vh;
  object-position: bottom;
}

.polaroid {
  width: 18vw;
  height: auto;
  margin-top: 1vh;
}

/* NAV BAR CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 15vh; */
  padding: 0 2rem;
  background-color: rgba(var(--offWhite), 0.8);
  color: var(--darkGrey);
}

nav a {
  margin: 0 2rem;
  color: var(--darkGrey);
  text-decoration: none;
}

nav a:hover {
  color: var(--navyBlue);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--darkGrey);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
/* END OF NAV BAR CSS */

/* BANNER CSS */
.home-banner {
  height: 30rem;
}

.home-banner h1 {
  color: var(--offWhite);
}

.pink-box {
  background-color: var(--babyPink);
  color: var(--offWhite);
  text-transform: uppercase;
  width: 10%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* BANNER CSS */

  .hero-image {
    height: 50vh;
  }

  .hero-container > h1 {
    font-size: 30px;
    margin-top: 40px;
  }

  .hero-container > p {
    font-size: 20px;
  }

  .polaroid {
    width: 30vh;
  }
}
