@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --offWhite: #f2f4f1;
  --navyBlue: #839ca3;
  --babyPink: #e8bfc5;
  --darkGrey: #272528;
}

/* NAV BAR CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 0 2rem;
  background-color: rgba(var(--offWhite), 0.8);
  color: var(--darkGrey);
}

nav a {
  margin: 0 2rem;
  color: var(--darkGrey);
  text-decoration: none;
}

nav a:hover {
  color: var(--navyBlue);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--darkGrey);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
/* END OF NAV BAR CSS */

/* BANNER CSS */
.home-banner {
  height: 30rem;
}

.home-banner h1 {
  color: var(--offWhite);
}

.pink-box {
  background-color: var(--babyPink);
  color: var(--offWhite);
  text-transform: uppercase;
  width: 10%;
  align-items: center;
  justify-content: center;
}

.banner-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: bottom;
}
ob @media only screen and (max-width: 768px) {
  /* NAV BAR CSS */
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--babyPink);
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
  /* END OF NAV BAR CSS */
}
