@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

@font-face {
  font-family: "breathing";
  src: url("./assets/fonts/Breathing\ copy.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --offWhite: #fefae8;
  --navyBlue: #839ca3;
  --babyPink: #fa8086;
  --darkGrey: #1a191d;
}

/* HERO */
.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0, 0.2);
  object-fit: contain;
}

.hello {
  font-family: "breathing";
  text-transform: capitalize;
  color: var(--offWhite);
}

.hero-container > h1 {
  color: var(--offWhite);
  font-size: 50px;
  margin-top: 15vh;
  text-transform: uppercase;
}

.hero-container > p {
  color: var(--offWhite);
  font-size: 25px;
  text-transform: uppercase;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  max-height: 90vh;
  object-position: bottom;
}

.polaroid {
  width: 18vw;
  height: auto;
  margin-top: 1vh;
}

/* PROJECTS SECTION */

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  justify-content: center;
  background-color: var(--offWhite);
}

/* NAV BAR CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 15vh; */
  padding: 0 2rem;
  color: var(--offWhite);
  /* position: absolute;
  top: 0px; */
}

nav a {
  margin: 0 2rem;
  color: var(--offWhite);
  text-decoration: none;
}

nav a:hover {
  color: var(--babyPink);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--darkGrey);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
/* END OF NAV BAR CSS */

/* BANNER CSS */
.home-banner {
  height: 30rem;
}

.home-banner h1 {
  color: var(--offWhite);
}

.pink-box {
  background-color: var(--babyPink);
  color: var(--offWhite);
  text-transform: uppercase;
  width: 10%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* NAV BAR CSS */

  header .nav-btn {
    visibility: visible;
    opacity: 1;
    background: transparent;
    color: var(--offWhite);
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--babyPink);
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  /* BANNER CSS */

  .hero-image {
    height: 50vh;
  }

  .hero-container > h1 {
    font-size: 30px;
    margin-top: 40px;
  }

  .hero-container > p {
    font-size: 20px;
  }

  .polaroid {
    width: 30vh;
  }
}
